.map__image{
	text-align: center
}

.map__image path{
	fill: #1C5253;
	stroke: #FFE1A8;
	stroke-width: 0.9px;
	transition: fill 0.3s;
}

.map__image path:hover{
	fill: #E26D5C;
}

body{
	background-color: #FFE1A8;
}


#map{
	width: 1515px;
	height: 690px;
	margin-top: 2px;
	/*border: 1px;*/
	/*background-color: #f5f5f5;*/

}

.navig{
font-family: 'Chewy', cursive;
}